.card-view-root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@media screen and (max-width: 850px) {
  .card-view-root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .card-view-root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .card-view-root {
    grid-template-columns: repeat(2, 1fr);
  }
}
